[2016-05-03 09:58] hjacobs commented on #1
:+1:

[2016-05-04 14:53] robertmuil opened #1 "upload full documentation!"
- [x] add detailed description (mediawiki doc)
- [x] add full notebook slides showing example usage

[2016-05-04 15:09] jbao opened #2 "Add P(uplift>0) as a statistic"
This probability will be calculated from the existing result data, based on the percentiles and the normal assumption.

[2016-05-09 10:14] robertmuil opened #6 "rename fetcher to loader"
under `data`, we still use the 'fetcher' terminology, despite all the advanced data-loading now being elsewhere. We should rename them data loaders, to make clearer that all they're doing is reading from a file and loading into the `ExperimentData` structure.

[2016-05-09 10:17] jbao commented on #6
agreed.

[2016-05-09 10:38] robertmuil opened #7 "warnings no longer propagated to command line"
It seems that the warnings, after having been put into the `Results` object, are not propagated to the calling context (like command line) so the user doesn't necessarily see them.
This should be reverted.

[2016-05-09 11:06] robertmuil opened #8 "allow constructing an Experiment from an ExperimentData"
Currently, although it's a subclass, no way to construct an `Experiment` from an `ExperimentData` which is a bit counter-intuitive.

Not really necessary (can always just pass whatever you passed to the `ExperimentData` constructor directly to the `Experiment`, but we should allow this.

Low priority.

[2016-05-09 11:19] robertmuil opened #9 "reenable means and bounds functions on Results object"
Were temporarily removed after a change of structure... need to reenable them.
Especially because the `Results.__str__` function relies on them.

[2016-05-09 11:44] robertmuil commented on #1
this will be closed when dev is merged to master next.

[2016-05-09 11:46] robertmuil opened #10 "host intro slides (from the ipython notebook) somewhere for public viewing"
Currently, the ipython notebook (`Expan-Intro.ipynb`) is available locally as slides with the `serve_intro_slides` script.

It would be great to host the converted notebook on a public server somewhere so that prospective users can view it without cloning or running a local jupyter server.

[2016-05-09 15:34] elezar commented on #10
Just as a note. GitHub supports the viewing of Ipython Notebooks on the server. I think this requires that the notebook be committed with with all the cells run, but this should give users an idea of the expected output.

[2016-05-10 07:15] robertmuil commented on #10
So it does! Thanks Evan, appreciated.
Would still be nice to have properly hosted to support the slide functionality, but that's a minor thing.

[2016-05-10 07:37] jbao commented on #10
so there seems to be some tutorial about hosting reveal.js slides on gh-pages http://stackoverflow.com/questions/31163633/how-to-host-a-reveal-js-presentation

[2016-05-12 08:31] jbao opened #12 "Make baseline_variant mandatory in the metadata?"
By doing so, we can deprecate the baseline_variant argument in the Experiment constructor, so to create an Experiment object, one only needs the kpi_df, feature_df and metadata, which is more intuitive.

[2016-05-12 09:34] robertmuil commented on #12
Hmm, I'm not sure about that... `baseline_variant` is more than just another metadata attribute - it really defines the difference between `ExperimentData` and `Experiment`.
If we take it out as an explicit argument, we still have to enforce that it is defined in the metadata, which feels quite similar in terms of usage but just less transparent to the user.

[2016-05-14 16:15] pangeran-bottor opened #13 "No module named experiment and test_data"
from expan.experiment import Experiment raises an ImportError: No module named experiment.
I have to change it to from expan.core.experiment import Experiment and it works.

Also from tests.test_data import generate_random_data doesn't work, I have to use
from tests.tests_data import generate_random_data but this raises an another error cannot import name generate_random_data.

[2016-05-14 23:57] jbao commented on #13
right, we need to investigate the first behavior further, but at least for the moment the second issue can be solved by

`from tests.tests_core.test_data import generate_random_data`

I agree that the folder names might not be very intuitive, but I'm open to suggestions;-)

[2016-05-15 03:52] jbao opened #14 "Implement __version__"
to enable the standard call expan.**version**

[2016-05-15 09:04] pangeran-bottor commented on #14
I create PR for this : https://github.com/zalando/expan/pull/15

[2016-05-15 09:47] #13 closed, assigned to nobody

[2016-05-16 11:12] robertmuil commented on #14
Do you mean the standard call `expan.__version__`?

Currently can do `expan.version()` to get the version string (it's a function...)

[2016-05-16 11:52] robertmuil opened #18 "Expose crucial classes in main expan namespace"
Currently, to import the main classes of expan's functionality, we need to either use prefixes:
   `import expan; expan.Experiment(...)`
or we have to import the class through the intermediate folder name, which is not intuitive:
  `from expan.core.experiment import Experiment`

Ideal would be to allow `from expan.experiment import Experiment` although another possibility (and easier to implement)

[2016-05-16 13:59] robertmuil commented on #14
PR #19 from Pangeran merged in `dev`. If everyone's ok with it, I'll merge it into `master`. This issue will then be closed.

[2016-05-16 14:00] #1 closed, assigned to robertmuil

[2016-05-16 19:18] jbao commented on #14
yes, +1 to @pangeran-bottor, I'm fine with the PR.

[2016-05-16 19:24] jbao commented on #18
As an example, pandas uses a file api.py to explicitly expose important classes/functions in some nested modules, maybe we can take the same approach.

[2016-05-17 13:52] robertmuil opened #20 "migrate issues from github enterprise"
issues all still in GHE from prior to opensourcing... should migrate those

[2016-05-22 09:02] tsterbak opened #21 "Python3"
Will there be a version for python3?

[2016-05-23 07:21] robertmuil commented on #21
Good point - short answer is yes!

Longer is: we've not got experience with it... so if you'd like to submit a PR, we'd be stoked!

[2016-05-26 12:13] #14 closed, assigned to nobody

[2016-05-30 16:36] robertmuil commented on #9
This is a bit of a problem because it is causing our ipython notebook introduction to have a bunch of errors. Shouldn't be a hard fix...

[2016-05-30 16:43] robertmuil opened #23 "coverage % is misleading"
We're getting very good coverage percentages out of `runtests htmlcov` but the numbers are quite misleading: at least some of the unittests are not actually verifying the returned data properly: e.g. `test_experiment.test__feature_check__computation()` doesn't verify the feature check of the `feature` feature...

We should:
- [ ] push all unittests as low as possible in the function call structure

[2016-06-01 09:45] #12 closed, assigned to nobody

[2016-06-01 09:49] jbao commented on #8
this relates to #12, I think for the moment we'll keep separating the Experiment and ExperimentData classes.

[2016-06-06 07:52] robertmuil commented on #8
Yes, they should be kept as separate classes, but I just thought it would be nice to be able to _construct_ an `Experiment` from an `ExperimentData`.

[2016-06-15 12:37] robertmuil opened #25 "reassess actual dependencies"
Currently, requirements.txt is a bit over-zealous with versions: expan doesn't actually need the latest version (0.17) of scipy for example.
To increase backward compatibility, we should go over what's actually required. Potentially long-winded operation I guess but perhaps there's a tool to do it semi-automatically?

[2016-06-22 14:18] robertmuil commented on #2
I am still in favour of implementing this using the result structure as it was originally intended: with percentiles in one column and value in another, using the 'uplift_pctile' statistic. However, this can be changed later if required.

Bringing over discussion from GHE:

Robert:

Till:

Robert:

How are we going to represent several different costs?
What if the costs arise after the calculation

[2016-06-22 14:25] #2 closed, assigned to jbao

[2016-06-22 15:04] jbao commented on #2
also just thought about that again,
- encoding the probability as a percentile makes the results structure generic, but it has at least two drawbacks
  - the probabilities for different variants are persisted in the same column, which can only be reference by the variant name and a '0', not entirely impossible, but feels counter-intuitive
  - additional arithmetic operation required, since the val

[2016-06-22 15:59] jbao opened #26 "Add argument assume_normal and treatment_cost to calculate_prob_uplift_over_zero() and prob_uplift_over_zero_single_metric()"
as discussed by #2 and #24

[2016-06-22 17:31] robertmuil commented on #2
Hi Jie,
regarding the points you mentioned:
1. same column: I don't understand: each variant is a separate column...
2. additional arithmetic: yes, but this can easily be implemented in a property to expose it as though it were a statistic.
3. treatment cost: my point was rather more conceptual: what if there are several different possible treatment costs? they will all be in the result dataframe

[2016-06-24 15:46] jbao opened #31 "perform trend analysis cumulatively"
two possible approaches:
- post-hoc calculation of the joint CI based on [this post](http://math.stackexchange.com/questions/625191/95-confidence-interval-around-sum-of-random-variables)
- generate the bin labels cumulatively and reuse the current function

[2016-06-27 09:51] jbao opened #32 "multiple comparison correction"

[2016-06-28 15:36] jbao opened #33 "sanity check whether the input data contains duplicated entities"
The `ExperimentData` class can handle 2 kinds of input data as the `metrics` argument:
- aggregated metrics: this should always be aggregated on the entity level
- time-resolved metrics: this requires an additional column `time_since_treatment` in the input, and should always be aggregated per unique entity and time point

[2016-07-19 22:15] ghost commented on #21
Is any updates of Python 3 version?
Thank you.

[2016-07-20 07:51] jbao commented on #21
Hi, Python 3 support is on our roadmap, esp. since the next major IPython release will require Python 3, so it's probably high time to get this work started;-)

[2016-07-21 00:17] jbao commented on #21
btw, just quickly came up with a first version that supports both python 2 and 3 [here](https://github.com/zalando/expan/tree/feature/2to3), still need to tweak some config files to add python 3 into the CI pipeline.

[2016-08-08 14:31] jbao commented on #31
This is resolved by #36 .

[2016-08-08 14:31] #31 closed, assigned to nobody

[2016-08-08 14:33] jbao commented on #21
This is resolved by #43 .

[2016-08-08 14:33] #21 closed, assigned to nobody

[2016-08-08 14:39] jbao opened #44 "Support 'overall ratio' metrics (e.g. conversion rate/return rate) as opposed to per-entity ratios"
In case of conversion rate or return rate, the KPI can be either defined on the entity level or aggregated over all entities, and we probably want to support both of them.

After some discussion, we came up with the idea to reweight the data of the individual entities to calculate the overall ratio statistics. This enables to use the existing statistics.delta() function to calculate the overall ra

[2016-08-19 10:05] #44 closed, assigned to jbao

[2016-08-20 18:53] piyush0609 commented on #33
I am willing to work on this. Maybe you can explain a bit more.

[2016-08-22 08:02] jbao commented on #33
hey @piyush0609 , glad that you volunteered, just added some description, feel free to reach out if it's still unclear;-)

[2016-08-22 08:30] piyush0609 commented on #33
So what do we want to do here @jbao, from your comment earlier what I understood is that we have to make some changes in time_resolved metrics.

[2016-08-22 09:10] jbao commented on #33
basically we need to distinguish the two metric types:
- if aggregated, we need to add a checkpoint to ensure all entities are unique
- if time-resolved, we need to ensure the data is unique based on the combination of entity and time

[2016-08-22 19:21] piyush0609 commented on #33
I am not sure that I can do it, but I will definitely try and I will be needing your help.

[2016-10-06 15:47] jbao opened #51 "Use pd.Timedelta for time_since_treatment"
To represent duration in the `time_since_treatment` column, we have 2 options:
- put numerical values into `time_since_treatment` and persist the time unit in the metadata [non-intuitive and probably error-prone]
- represent duration directly with the pandas dtype Timedelta [preferred]

[2016-11-04 15:34] jbao opened #56 "frequency table in the chi square test doesn't respect the order of categories"
e.g. when the counts of observed categories in both groups are as follows:

    treat_counts
    female     39364
    male        6561
    unknown     4474

    control_counts
    f               2
    female     152099
    m               2
    male        24299
    unknown     15084

the observed frequency table is:

    observed_ct
    female      male  unknown        f        m
    0     0.0

[2016-11-07 11:17] jbao commented on #56
This bug is related to https://github.com/pandas-dev/pandas/issues/14600 and therefore won't be fixed here.

[2016-11-15 12:26] jbao opened #58 "Numbers cannot appear in variable names for derived metrics"
Currently the regex does not match numbers when constructing derived metrics from the formula.

[2016-12-08 14:44] #56 closed, assigned to jbao

[2017-02-03 15:58] mkolarek opened #64 "Results.to_json() doesn't support trend() results"
Current implementation of the to_json() method in the Results class doesn't support trend() results at the moment.

[2017-02-03 16:01] mkolarek opened #65 "Results.to_json() implementation not flexible"
Current implementation will break if certain changes are done in the Results dataframe structure (such as adding additional indexes). Main cause of the issue is the nested for loops used to traverse the dataframe, they can probably be replaced with a recursive function.

[2017-02-03 16:07] mkolarek opened #66 "Rethink Results structure"
The goal of the current implementation of the Results structure is to enable the user to easily concatenate the results of multiple analyses (say delta() + sga()).
This functionality hasn't been used much, so it would be a good idea to rethink the Results structure and maybe aim to simplify it.

[2017-02-06 16:25] #23 closed, assigned to nobody

[2017-02-07 11:38] lasomethingsomething commented on #10
Hey @jbao @elezar: can we close this issue? It dates back to May 2016.

[2017-02-07 11:39] lasomethingsomething commented on #9
Hey @jbao @elezar: can we close this issue? It dates back to May 2016.

[2017-02-07 11:39] lasomethingsomething commented on #7
Hey @jbao + @elezar: can we close this bug issue? It dates back to May 2016.

[2017-02-07 11:40] lasomethingsomething commented on #6
Hey @jbao, can we close this issue? It dates back to May 2016.

[2017-02-07 13:43] lasomethingsomething commented on #32
Hey @jbao @mkolarek @elezar, Still planning on this? Want to add a Help Wanted label?

[2017-02-07 13:45] lasomethingsomething commented on #26
Hey @jbao @mkolarek @elezar, still planning on this?  Want to add a Help Wanted label?

[2017-02-07 15:00] jbao opened #68 "normal_difference duplicates some functionality of normal_percentiles"
`normal_difference` calculates percentiles for the difference between normal distributions.

Since the difference between normal distributions is normally distributed this functionality should be covered by a transformation of the input to the difference distribution and passed onto `normal_percentiles`.

[2017-02-07 16:21] jbao commented on #32
@LappleApple Yes, this is still relevant, some ideas from @robertmuil

- [x] Decide on where to implement (I think in results is a good place)
- [ ] Decide when it will be performed (it will depend on the use, I think)
- [x] Decide over which analyses it will be performed (I think within the 'type' is correct: all subgroups analysed in all SGAs, and, separately, all KPIs that have an uplift/delta

[2017-02-07 16:43] jbao opened #69 "sga() and create_binning() have different default nbins"
Also, use different defaults for categorical (e.g. 4) and numerical (e.g. 8).

[2017-02-07 16:50] jbao commented on #7
Missing reproducible examples, close for now.

[2017-02-07 16:50] #7 closed, assigned to nobody

[2017-02-07 16:50] gbordyugov commented on #58
Hi,

could you please point to the potential location of the fix (file/linenumber)?

[2017-02-07 16:51] jbao commented on #8
Low priority, close for now.

[2017-02-07 16:51] #8 closed, assigned to nobody

[2017-02-07 16:53] jbao commented on #9
This also relates to the rewriting of the `Results.statistic()` function.

[2017-02-07 16:54] jbao commented on #10
Low priority, close for now.

[2017-02-07 16:54] #10 closed, assigned to nobody

[2017-02-07 16:55] jbao commented on #20
Done.

[2017-02-07 16:55] #20 closed, assigned to nobody

[2017-02-07 16:57] jbao commented on #26
Low priority, close for now.

[2017-02-07 16:57] #26 closed, assigned to nobody

[2017-02-07 16:59] jbao commented on #58
The regex is at https://github.com/zalando/expan/blob/dev/expan/core/experiment.py#L416, this fix probably needs a concept, since numbers are in general allowed in formulas of derived metrics.

[2017-02-07 17:22] gbordyugov commented on #58
would `([a-zA-Z][0-9a-zA-Z_]*)` be the relevant solution? Basically saying 'an alphanumerical identifier starting with an alpha?'

[2017-02-07 17:53] lasomethingsomething commented on #51
@jbao Is it OK to label "Help Wanted"?

[2017-02-07 20:05] jbao commented on #51
@LappleApple I think we need more discussion concerning the above 2 options.

[2017-02-07 20:07] jbao commented on #58
@gbordyugov good idea, we can implement it this way and document properly.

[2017-02-08 09:26] gbordyugov commented on #58
https://github.com/zalando/expan/pull/70 - please comment

[2017-02-09 12:59] #58 closed, assigned to nobody

[2017-02-10 09:20] gbordyugov commented on #6
I think that the naming issue is a matter of taste, I'm fine with `fetching`.

[2017-02-10 09:23] gbordyugov commented on #25
I'm not aware of that kind of tools, would be glad to learn about them.

[2017-02-13 09:08] jbao commented on #25
@gbordyugov The current idea is to automatically generate a bunch of `requirements.txt` with different combinations of library versions, and do some kind of grid search to check the dependency.

[2017-02-13 16:48] gbordyugov opened #76 "pip == 8.1.0 requirement"
Hi, do we need this one?

[2017-02-13 16:57] gbordyugov opened #77 "Results.to_json() => TypeError: Object of type 'UserWarning' is not JSON serializable"
if `metadata` contains a `UserWarning(...)`, to_json() fails

[2017-02-13 17:07] gbordyugov commented on #77
was my bad, a version mismatch

[2017-02-13 17:07] #77 closed, assigned to nobody

[2017-02-15 12:46] gbordyugov opened #78 "pctile can be undefined in `Results.to_json()`"
https://github.com/zalando/expan/blob/dev/expan/core/results.py#L440

[2017-02-22 01:00] aravs16 commented on #69
Hi I can work on this. This is my first contribution. A little guidance would be  helpful.

[2017-02-22 08:39] jbao commented on #69
Hi @aravs16 , thanks for volunteering, this issue is mostly about syncing up the default arguments in

https://github.com/zalando/expan/blob/dev/expan/core/experiment.py#L715

and

https://github.com/zalando/expan/blob/dev/expan/core/binning.py#L732

Ideally we could somehow distinguish between categorical and numerical bins, but if that's not possible, we may also completely leave out the argumen

[2017-02-23 20:49] aravs16 commented on #69
@jbao Thank you!

Can we make nbins = 8 in both places and then pass nbins//2 on this line:
https://github.com/zalando/expan/blob/dev/expan/core/binning.py#L768 ?

[2017-02-24 08:37] jbao commented on #69
hmm, I think we should make `nbins` transparent to the user, and not doing any post-processing within the function itself, what do you think?

[2017-02-27 12:17] gbordyugov opened #81 "Bad code duplication in experiment.py"
`Experiment.delta()` is now a dispatcher, however those lines https://github.com/zalando/expan/blob/dev/expan/core/experiment.py#L368 duplicate the code https://github.com/zalando/expan/blob/dev/expan/core/experiment.py#L455

Additional complication: `delta()` function calls the other one, i.e. `fixed_horizon_delta()`

[2017-02-28 21:11] chaitanyasd commented on #81
I'm a newbie. Can i take this? Please can you help.

[2017-02-28 21:31] jbao commented on #81
@csdeshpande19 sure, this requires some de-duplication of the `delta()` and `fixed_horizon_delta()` function. Let us know if you have any specific questions.

[2017-02-28 21:34] chaitanyasd commented on #81
Can you tell me what exactly I have to fix so i can start working on it.

[2017-02-28 21:42] jbao commented on #81
My idea would be to remove the duplicated code in `fixed_horizon_delta()` and do all the pre-processing in `delta()`,  but feel free to open a PR and maybe it would become easier to discuss. What do you think?

[2017-02-28 21:47] chaitanyasd commented on #81
Yeah. No problem. I'll do a PR in few hours as I'm new to Open Source so it may take some time to get acquainted with it. I'll try to help as much as I can.

[2017-03-02 16:23] gbordyugov opened #82 "Optimizing the control flow from `Experiment` to `Results`"
In the current implementation, there are three intermediate layers of steps that are nearly always executed upon invocation of a particular analysis method of `Experiment` class:

 - first, a method of `Experiment` class (such as `Experiment.delta()` for example) is called,
 - then an analysis specific `_function_` (a local one to `experiment.py`, such as `_delta_all_variants()`) is called from th

[2017-03-06 14:16] gbordyugov commented on #82
below the split of the control flow

the main entry points are those from `Level 3`, being methods of `Experiment` class()
[code]

[2017-03-07 04:05] vbmade2000 commented on #78
I think in line no 440 `pctile` won't be found as entire statement falls outside for loop.

[2017-03-13 12:27] gbordyugov opened #85 "Failing early stopping unit tests"
Hi, on my Mac with Python 3.6.0 with numpy 1.10.4, scipy 0.17.0, and pystan 2.14.0.0, I've got three failing unit tests:

one:

[code]

two:

[code]

and three

[code]

[2017-03-13 15:07] s4826 commented on #81
Does this still need to be done?

[2017-03-13 16:26] jbao commented on #81
Hi @s4826 , yes, this one is still open AFAIK.

[2017-03-13 17:15] s4826 commented on #81
Ok, I'll open a pull request.

[2017-03-14 10:01] jbao opened #87 "Experiment.sga() assumes features and KPIs are merged in self.metrics"
This will break if one constructs the `ExperimentData` object with two separate feature and KPI data frames, in which case we need to merge them manually.

[2017-03-14 11:04] gbordyugov commented on #87
did you actually find the place in code where `self.metrics` are created?

[2017-03-14 11:23] jbao commented on #87
Turns out `self.metrics` is a property and already created

https://github.com/zalando/expan/blob/dev/expan/core/experimentdata.py#L197

Thus this is not a bug at all and will close now.

[2017-03-14 11:23] #87 closed, assigned to nobody

[2017-03-15 08:52] #81 closed, assigned to nobody

[2017-03-17 19:50] yagudin commented on #69
Hi @jbao, in my opinion, we should set `nbins=None` in definitions of `sga()` and `creat_binning()`. And add post-processing  ≈ `if nbins == None: nbins = 8 if is_numeric else 4` followed with a warning.

[2017-03-20 08:44] gbordyugov commented on #69
Hi everyone,

I found using `None` as a flag for _default_ (as opposite to _undefined_) value quite pervasive in ExpAn (for example, `None` in place of KPI names or feature names implies "do all"). Was it a deliberate design decision? What happens to those options where we want `None` to signalize the absence of information, rather than the intention to use default values?

[2017-03-20 10:53] jbao commented on #69
I think we should specify the default value explicitly in the argument if we have one (e.g. in the case of `nbins`), and use `None` to imply that the function will take all possible input values (e.g. in the case of `kpi_subset`). What do you think?

[2017-03-21 09:17] #76 closed, assigned to nobody

[2017-04-03 15:04] gbordyugov opened #90 "Categorical binning improvement"
To bin a list `x` into `N` bins, one could simply go for the bin index given by

[code]

[2017-04-05 09:05] gbordyugov commented on #78
https://github.com/zalando/expan/pull/92 solves this

[2017-04-05 09:05] #78 closed, assigned to nobody

[2017-04-05 09:06] gbordyugov commented on #85
those of you with Macs, please try to reproduce

[2017-04-05 09:18] gbordyugov commented on #66
duplicate of https://github.com/zalando/expan/issues/82

[2017-04-05 09:18] #66 closed, assigned to nobody

[2017-04-07 19:10] jbao commented on #90
@gbordyugov Sounds interesting, can you provide a reproducible example?

[2017-04-08 06:15] gbordyugov commented on #90
[code]

[2017-04-10 08:13] shansfolder commented on #6
I am also for renaming to "data-loading" because "data-fetching" sounds to me that there will be database interaction under the hood.

[2017-04-10 09:04] shansfolder commented on #85
I couldn't reproduce it on my Mac. It looks like an stable bug that results from precision lost during floating number calculation.

[2017-04-10 09:50] gbordyugov opened #96 "Derived KPIs are passed to Experiment.fixed_horizon_delta() but never used in there"
Derived KPIs are passed to `Experiment.fixed_horizon_delta()` but never used in there - and probably they shouldn't since they have already been taken care of in `Experiment.delta()` before dispatching.

[2017-04-10 12:20] gbordyugov commented on #96
can be fixed by https://github.com/zalando/expan/pull/97

[2017-04-10 13:16] #96 closed, assigned to nobody

[2017-04-10 16:05] shansfolder opened #98 "Formula of derived KPIs only support ratios"
The following code in `Experiment.delta`
[code]
will only work for fomulas with simple ratios (and also too hacky).

However, I found that some of the KPIs [here](https://techwiki.zalando.net/display/DT/KPIs+and+assignment+keys+alignment+concept#KPIsandassignmentkeysalignmentconcept-BigQuery) requires sum/count/>0, etc...

[2017-04-10 16:34] gbordyugov commented on #98
... and using `eval` on unvalidated input is a potential security breach.

[2017-04-10 18:38] jbao commented on #90
ok, but how does this link to the categorical binning, where the use case is usually not random assignment, e.g. to group `['a','a','b','b','b']` into 2 groups?

[2017-04-10 19:16] gbordyugov commented on #90
Hashing is not random, `hash('a')` always returns the same Int, if I'm not mistaking

[2017-04-10 19:53] jbao commented on #90
That's what I thought too, but in my example, it returns `[0,0,0,0,0]`, or am I missing something here?

[2017-04-11 07:42] gbordyugov commented on #90
[code]

hash collisions are, of course, possible, but extremely rare - it really seems to be depending on a particular Python installation whether `hash('a') % 2` and `hash('b') % 2` are the same number.

[2017-04-11 09:34] jbao commented on #90
Yes, I still don't quite get it (was not able to reproduce the results), will have to research further.

[2017-04-11 10:00] gbordyugov opened #99 "KPIs arguments of Experiment.delta()"
Hello,

I'm still puzzled by the way Experiment.delta() passes the list of KPIs to analyse to its daughter functions (i.e. fixed horizon, group sequential, and the two Bayes funcs).

More specifically:
 - `Experiment.fixed_horizon_delta()` expects the `kpi_subset` argument _and_ at the same time fetches the list of KPIs in from the passed `res` dataframe https://github.com/zalando/expan/blob/dev/e

[2017-04-11 12:43] gbordyugov opened #100 "What's the point of *_delta() methods accepting an (empty) Result instance?"
In the current implementation, all `*_delta()` methods accept a `res` argument, being (oftentimes) an empty instance of the `Result` class. This instance is then updated with the results of the analysis.

On the other hand, other analysis methods, such as `feature_check()`, `sga()`, and `trend()` create a `Result` instance on the fly, populate it with results and return it.

What is the motivation

[2017-04-12 07:46] gbordyugov opened #101 "Missing support for derived KPIs in trend(), sga(), feature_check()"
das ist leider so.

[2017-04-12 13:42] shansfolder commented on #100
Looks ok after discussion.

[2017-04-12 13:42] #100 closed, assigned to nobody

[2017-04-12 14:28] gbordyugov commented on #99
closed by https://github.com/zalando/expan/pull/102

[2017-04-12 14:28] #99 closed, assigned to nobody

[2017-04-18 12:45] gbordyugov opened #103 ""variant_subset" parameter of Experiment.fixed_horizon_delta() is not used"
My understanding is that the code

https://github.com/zalando/expan/blob/dev/expan/core/experiment.py#L456-L460

is not relevant for the call of `delta_all_variants()` at

https://github.com/zalando/expan/blob/dev/expan/core/experiment.py#L475

[2017-04-18 14:05] jbao commented on #103
That's true, yet another unused parameter:-P

[2017-04-19 08:24] gbordyugov commented on #103
will be fixed by https://github.com/zalando/expan/pull/104

[2017-04-20 14:50] #103 closed, assigned to nobody

[2017-04-21 10:02] shansfolder opened #108 "Percentiles value is lost during computing group_sequential_delta"
The parameter ```percentiles``` is lost during the following stack of calls:
-> ```experiment.group_sequential_delta``` (has input para percentiles)
-> ```early_stopping.group_sequential``` (lost input para percentiles)
-> ```statistics.normal_difference``` (has para percentiles again, but now we can only use the default value since the percentiles value user passed will be lost in previous step)

[2017-04-21 10:26] shansfolder opened #109 "Question about percentiles in Bayesian early stopping"
As I understood from code, percentiles values for regular delta and group sequential delta are using t statistics.
 e.g. in the result object, "pctile" could be (2.5, 50, 97.5), "value" can be the corresponding t statistics (0.1, 0.8, 0.1).

On the other hand, percentiles values for two Bayesian delta are using a fixed 0.95 credible interval.
In the result object, "pctile" is always ("lower", "upp

[2017-04-21 12:42] shansfolder commented on #109
ok, on second thought, they have something in common in higher abstraction. ;)

One can find the "value" of the random variable being tested, given a defined metric "pctile"
* in frequentist approaches **pctile** is the percentile of the test distribution
* whereas in Bayesian approaches **pctile** is the lower/upper bound of a 0.95 credible interval of the test distribution.

[2017-04-21 12:48] mkolarek commented on #109
exactly, sorry haven't had time to look at this sooner. @gbordyugov has worked on a new concept for the Results structure so these issues will be taken into account, but for now I would not mess with it much... for testing the early stopping methods I believe the current implementation should suffice.

[2017-04-24 11:48] gbordyugov commented on #108
@shansfolder I don't see `Experiment.group_sequential_delta()` having `percentiles` arguments: https://github.com/zalando/expan/blob/dev/expan/core/experiment.py#L492

[2017-04-24 12:33] shansfolder commented on #108
Sorry I meant ```delta()```. I assumed the argument list should be the same.

As a user, if ```delta()``` takes percentiles as para, (because ```fixed_horizon_delta``` need it), then I expect it is used in ```group_sequential_delta``` too. And after a few calls in the stack, ```group_sequential_delta``` does need this information in ```statistics.normal_difference```.

[2017-04-24 14:32] gbordyugov commented on #108
@shansfolder please check out the latest pull request — I tried to get rid of all intermediate parameter passing by capturing them in a closure `deltaWorker` (which, in turn, is generated by `make_delta(...)` in `statistics.py`. This approach however didn't work for the Bayesian methods, for they have a different argument signature and use a different statistics worker. We could try to think how t

[2017-05-23 16:16] shansfolder opened #114 "Weighted KPIs is only implemented in regular delta"
Missing the functionality of weighted KPIs in group_sequential, Bayes_factor, Bayes_precision.

[2017-05-29 16:45] daryadedik opened #117 "t-test for non-equal distribution variances"
Current: for t-test we assume that two populations have equal variances. The case of non-equal variances is not implemented.
Possible solution: add Welch's t-test implementation for the case of unequal populations variances.

Note: this question should be preliminary investigated: when it's necessary or helpful, when it's not.

[2017-05-30 16:45] daryadedik opened #118 "z-test instead of t-test in the group sequential implementation"
In the group sequential implementation is used z-test instead of t-test and sample standard deviation is used instead of population standard deviation. If the population standard deviation is unknown it would be more reasonable to use t-test instead of z-test.

[2017-05-30 16:49] shansfolder commented on #118
@jbao Is there a reason you use z-test(instead of t-test as Darya described above) when deciding early stopping in the group sequential method? :)

[2017-05-30 17:00] daryadedik commented on #118
just a note&question: when the sample size is large, the sample standard deviation can be used as an approximation of population standard deviation, but then how large the sample size should be and what is the problem with switching to t-test instead?

[2017-05-31 14:45] shansfolder opened #119 "Assumption of nan when computing weighted KPIs"
In weighted KPIs, our implementation is based on the assumptions that reference KPIs are never **nan**.

We might have some miscomputation here. I saw from previous BQ tests that this column can have missing values. We may want to implement the weights in a way that does not rely on this assumption.

[2017-05-31 20:55] jbao commented on #118
You're absolutely right, if you compare L92 and L99 in `early_stopping.py` you would notice that z-score is used to compare with a threshold, but the interval is calculated by the percentiles of the t-distribution. I agree it probably makes sense to use the t-statistics.

[2017-06-01 09:36] shansfolder commented on #118
thank you @jbao , we will plan and update the method. ;)

[2017-06-01 13:07] shansfolder commented on #119
Here is my draft of implementation of weighting, which does not depend on non-nan assumption:
https://github.com/shansfolder/ABTestingEarlyStoppingEvaluation/blob/master/analysis/real.py#L257-L264

[2017-06-14 08:52] shansfolder commented on #119
solved by #121

[2017-06-14 08:52] #119 closed, assigned to nobody

[2017-06-16 13:22] shansfolder commented on #114
done by #121

[2017-06-16 13:22] #114 closed, assigned to nobody

[2017-06-16 13:23] shansfolder commented on #109
closed since the structure of result object is under planed

[2017-06-16 13:23] #109 closed, assigned to nobody

[2017-06-16 14:48] #108 closed, assigned to nobody

[2017-06-16 14:49] shansfolder commented on #85
Closed since we can not reproduce the error. Its probably fixed due to some changes we did lately. Please reopen if the error shows up again.

[2017-06-16 14:49] #85 closed, assigned to nobody

[2017-06-27 13:08] gbordyugov opened #128 "Missing unit tests for to_json() on early stopping algos"
Compare for instance

https://github.com/zalando/expan/blob/dev/tests/tests_core/test_results.py#L126
https://github.com/zalando/expan/blob/dev/tests/tests_core/test_results.py#L180

[2017-06-29 10:22] gbordyugov commented on #128
closed by https://github.com/zalando/expan/pull/129

[2017-06-29 10:22] #128 closed, assigned to nobody

[2017-06-30 12:50] shansfolder opened #132 "Additional parameters when using sampling from StanModel"
Here in this line we have specified some additional parameters to StanModel.sampling: https://github.com/zalando/expan/blob/dev/expan/core/early_stopping.py#L189

Do we know what are the effects of specifying ```stepsize``` and ```adapt_delta``` in this case?

[2017-07-20 08:50] gbordyugov opened #135 "Improve binning performance"
Rewrite `binning.CategoricalBinning._get_binning_categorical` using a min-heap.

Around those lines:
https://github.com/zalando/expan/blob/dev/expan/core/binning.py#L96

[2017-07-20 10:15] gbordyugov opened #136 "Refactor binning"
1. Do we really need classes for binning? Do we ever use inheritance from the base `Binning` class? I've got a feeling that a bunch of functions would be enough for all our purposes.

2. Labelling: Instead of passing `format_str` to `Binning.labels`, user should pass a function that would return the appropriate label for given category, smth like
`labels = bins.labels(x, lambda i: 'label " + str(i

[2017-07-20 12:56] gbordyugov commented on #135
absorbed into https://github.com/zalando/expan/issues/136

[2017-07-20 12:56] #135 closed, assigned to nobody

[2017-07-20 13:30] gbordyugov commented on #136
Example of heap-based binning:

[code]

[2017-07-21 09:05] mkolarek commented on #136
Agree completely, we need to prioritize these changes so that we can fix sga() functionality ASAP.

[2017-07-24 11:49] shansfolder commented on #136
I've constructed an example where your greedy algorithm won't work. ;)

Given ```items=[10, 10, 20, 20], nbins=2```, the algorithm will compute the following steps:
 -> [10, 10, 20, 20]
 -> [20, 20, 20]
 -> [40, 20]

where the optimal binning is [30, 30].

[2017-07-24 15:02] gbordyugov commented on #136
Nice catch! However, the existing algorithm would fail here too.

Another reason to rethink it.

[2017-08-01 09:57] gbordyugov commented on #136
A nice paper on categorical binning: http://www.aaai.org/ocs/index.php/IJCAI/IJCAI-09/paper/viewFile/625/705

[2017-08-01 10:22] gbordyugov commented on #82
closed by https://github.com/zalando/expan/pull/134

[2017-08-01 10:22] #82 closed, assigned to nobody

[2017-08-01 10:22] gbordyugov commented on #65
closed by https://github.com/zalando/expan/pull/134

[2017-08-01 10:22] #65 closed, assigned to nobody

[2017-08-01 10:23] gbordyugov commented on #9
not applicable after https://github.com/zalando/expan/pull/134

[2017-08-01 10:23] #9 closed, assigned to nobody

[2017-08-01 10:24] gbordyugov commented on #64
not applicable after https://github.com/zalando/expan/pull/134

[2017-08-01 10:24] #64 closed, assigned to nobody

[2017-08-01 13:22] louisryan opened #141 "Update to ExpAn-Intro.ipynb"
Since recent updates, the material in ExpAn-Intro.ipynb is out of date and cannot be run. The tool is fantastic, but the barrier to entry is unnecessarily high at the moment.

[2017-08-01 13:24] gbordyugov commented on #141
Thanks a lot for opening the issue, we've indeed changed a lot recently and the documentation has to catch up - we're working on this.

[2017-08-01 16:22] shansfolder opened #142 "Result statistics in Baeysian methods"
In the [Stan model](https://github.com/zalando/expan/blob/dev/expan/models/normal_kpi.stan) the difference of mean is modeled by ```alpha```, while in [early_stopping.py](https://github.com/zalando/expan/blob/dev/expan/core/early_stopping.py#L274-L283) we return the trace of ```delta``` in the result.

[2017-08-01 18:43] jbao commented on #142
As far as I know, `delta` is a normalized version of `alpha`, which is unit-less and makes it easy to set the threshold for the Bayes factor.

[2017-08-01 18:47] gbordyugov commented on #142
@jbao as far as I can see from

https://github.com/zalando/expan/blob/dev/expan/core/statistics.py#L89
https://github.com/zalando/expan/blob/dev/expan/core/statistics.py#L7

`delta` is just the difference of means (we've never touched that code).

[2017-08-01 18:50] jbao commented on #142
@gbordyugov sorry, I was actually referring to https://github.com/zalando/expan/blob/dev/expan/models/normal_kpi.stan#L16, so `alpha` is the absolute difference between two means, but we return the posterior samples of `delta` because it's easy for the Bayes factor calculation etc.

[2017-08-01 18:52] gbordyugov commented on #142
@jbao yes, exactly, I was more familiar with how `delta` is computed in early stopping methods, that's why the slightly different definition of it in regular statistics surprised me.

[2017-08-01 18:55] gbordyugov commented on #142
@shansfolder you and me were apparently talking about two different issues when discussing this today ;)

[2017-08-01 21:29] jbao commented on #142
@gbordyugov you're right, the notation was confusing...

[2017-08-02 01:26] liuweizzuie opened #143 "UnicodeDecodeError: 'gbk' codec can't decode byte 0x9d in position 2812"
here is an error of Unicode Issue:

[code]

python environment:
[code]

[2017-08-02 15:35] shansfolder commented on #142
Thank you both for clearing this issue. I've just addressed it in pull request #144.

[2017-08-09 08:11] shansfolder commented on #142
fixed by #144

[2017-08-09 08:11] #142 closed, assigned to nobody

[2017-08-09 08:19] shansfolder commented on #143
Hi @liuweizzuie, I did a quick search, this seems to happen with Windows with default Chinese encoding with Python3. See a same discussion here: https://github.com/sshwsfc/xadmin/issues/330.

If you have some time, it would be great that you can open a Pull Request to branch ```dev``` that fixes it. Otherwise, we will plan it maybe in later days.

[2017-08-09 08:22] shansfolder commented on #141
@louisryan documentations are updated now. Please check out the latest ```dev``` or ```master``` branch. Or use the latest release v0.6.1. Let us know if it works. Thank you.

[2017-08-09 08:22] #141 closed, assigned to nobody

[2017-08-11 09:41] louisryan commented on #141
🚀

[2017-08-18 04:16] michaelcyng opened #151 "Default Parameters of Constructor of Experiment class"
In the class expan.core.experiment.Experiment, the constructor starts with the following:

def __init__(self, control_variant_name, data, metadata, report_kpi_names=[], derived_kpis=[]):

It is not a good idea to have mutable values (i.e. empty list) as the default parameter value because Python does not create a new empty list for you every time you create an object. Instead, it creates it only o

[2017-08-18 09:09] shansfolder commented on #151
Thank you @michaelcyng. That's a good point. Will address it soon.

[2017-08-18 09:50] shansfolder commented on #151
done in #152

[2017-08-18 09:50] #151 closed, assigned to nobody

[2017-08-31 19:28] jbao opened #158 "CausalTree"
just came across [this package](https://github.com/susanathey/causalTree) recently, with a fairly simple idea:

After a certain A/B test, the data scientist is often asked about which subset of users is most affected by the new feature. One can actually answer this by building a decision tree (splitting the dataset) to maximize the treatment effect within each node.

In a way, this is kinda like a

[2017-08-31 19:31] gbordyugov commented on #158
looks great, thanks a lot!

[2017-10-13 09:28] gbordyugov opened #162 "Think of a more elegant way to handle SGA"
The current way of doing it revolves around passing an external data frame to the (apparently private) `_delta()` method, which goes a bit against the idea of encapsulation

https://github.com/zalando/expan/blob/dev/expan/core/experiment.py#L102

[2017-10-18 09:49] daryadedik commented on #162
Can you explain a bit more about what is the problem with passing data to _delta() from sga?

[2017-10-18 12:44] gbordyugov commented on #162
It's about encapsulation. `_delta()` is a (private) method of the `Experiment` class, it's supposed to perform operations on its fields instead of taking arbitrary (and possibly not verified) data frames from the outside world.

Which one do you like better:
[code]
or
[code]
?

[2017-10-18 13:11] daryadedik commented on #162
thanks for clarifying! It makes sense, just didn't get it from the first sight.

[2017-10-20 08:39] gbordyugov opened #165 "Applying bins to data frames"
If `apply()` were replaced by `__call__()` in
https://github.com/zalando/expan/blob/dev/expan/core/binning.py#L48

it would be easier to apply bins to data frames by simply writing `binned_df = bin(df, feature)`

[2017-10-24 14:02] gbordyugov commented on #165
addressed by https://github.com/zalando/expan/pull/169

[2017-11-07 16:42] gbordyugov opened #172 "Infinitely large confidence intervals produced by group_sequential_delta()"
Sometimes percentiles as low as 0% and as high as 100%

[code]

[2017-11-07 16:47] shansfolder commented on #172
@gbordyugov this might happen in very early days in the experiment (information fraction is too low), it's simply impossible to stop in this case, which leads to a 0-100% percentile and infinitely large interval.

[2017-11-07 16:50] gbordyugov commented on #172
@shansfolder I see, but in this case we have a sample size of `5x10^5`, the estimated around `10^7`, which makes the current sample size be around 5% of the estimated. Do you think it's too small?

[2017-11-07 16:53] shansfolder commented on #172
hmm I see. The alpha spending function think it's too small then. What's your usecase? we can discuss in person. I think I can come tomorrow. ;)

[2017-11-21 11:33] shansfolder commented on #172
As the result of investigation, the infinitely large confidence interval is produced when alpha is very almost zero. And a almost-zero alpha happens when information fraction is less than 40% from the O'Brien-Fleming alpha spending function.

Since we haven chosen the most conservative spending function, this makes sense.

Notebook for investigation:
https://github.bus.zalan.do/axolotl/experimenta

[2017-11-21 11:33] #172 closed, assigned to nobody

[2017-12-20 17:05] louisryan opened #176 "Group Sequential - Percentile Issue"
Hi there,

I have upgraded from Expan 0.6.2 -> 0.6.5 and upon re-running the group sequential method, the percentiles are showing incorrect values:

<img width="535" alt="screen shot 2017-12-20 at 16 58 01" src="https://user-images.githubusercontent.com/1322755/34218832-39ac2056-e5a7-11e7-8c9f-81ea432f1ee9.png">

Upon downgrading, the issue has been resolved.

[2017-12-20 17:16] shansfolder commented on #176
hi @louisryan by "incorrect" do you mean `percentile` becomes `0` and `100`? This can happen when the current data size (2065 in your example) is much less your provided estimated sample size.

[2017-12-20 17:55] gbordyugov commented on #176
@shansfolder I'm wondering that this problem appeared after the version upgrade

[2017-12-20 22:25] shansfolder commented on #176
@louisryan this might be actually a bug fix instead of a problem  :)
could you tell us what is the estimated sample size you are using? so that I can confirm for you..

[2017-12-21 22:02] louisryan commented on #176
@shansfolder, in my case, estimated sample size is 50000. After lowering it to 10000, the `percentiles` do change to 2.5/97.5. So this is expected behaviour? And is the fix you put in place previously?

[2017-12-22 10:25] shansfolder commented on #176
hi @louisryan , yes this is a fix.
There was a bug fix on [this line in 0.6.2](https://github.com/zalando/expan/blob/v0.6.2/expan/core/early_stopping.py#L83), and it changed to [this in 0.6.5](https://github.com/zalando/expan/blob/v0.6.5/expan/core/early_stopping.py#L76).

[2017-12-22 13:26] shansfolder commented on #176
@louisryan let me try to explain intuitively: when the current sample size is small(compared to estimated sample size),  to be conservative, we make the confidence interval very large. A very large interval infers that it should cover 0 --- so it's almost impossible to conclude significance when sample size is still small.

[2017-12-22 16:12] louisryan commented on #176
@shansfolder that makes sense, but do you not think that the confidence interval should be displayed regardless? With `stop` set to `False`?

The reason why I say this is down to experience running experiments with one core success metric, but other metrics of interest that we want to monitor that might only achieve a fraction of the sample size. Using the `fixed horizon` approach would yield conf

[2017-12-23 22:46] shansfolder commented on #176
Hi, @louisryan my understanding is that if the group sequential method gives you ```stop``` equals ```false```, it means the results are not statistically valid(due to it only achieve a fraction of the sample size). Therefore, we shouldn't use the values of confidence intervals in this case anyways.

But I admit the way of our result format is confusing. Let me know if you have any suggestions. :)

[2018-01-03 10:37] louisryan commented on #176
Good point! :)

[2018-01-03 10:37] #176 closed, assigned to nobody

[2018-01-03 10:37] louisryan commented on #176
Thanks for the clarification

[2018-01-08 18:13] louisryan opened #178 "SGA Percentile Issue"
Hi there,

I'm testing the new SGA functionality and have noticed that the percentile does not return what I expected. On Version 0.66, when I run `exp.sga({'dimension': bbin})`, I get the following percentiles:

![screen shot 2018-01-08 at 18 09 57](https://user-images.githubusercontent.com/1322755/34685170-6fada5f6-f49f-11e7-8d9f-91ad87385b93.png)

As you can see, the two percentiles are 0.8333

[2018-01-09 09:53] shansfolder commented on #178
hi @louisryan, thanks a lot for spotting this. There is actually a reason, we implicitly made a [multiple testing correction](https://en.wikipedia.org/wiki/Multiple_comparisons_problem), so the alpha value are changed.
But we understand that this result structure is very confusing now, we will make the method without multiple test correction by default, and let you know.

[2018-01-09 11:34] louisryan commented on #178
Interesting! So to be clear, the interval values(in this case `0.066114`/`0.19084`) are not valid? Or is it simply that the percentiles are mislabeled?

[2018-01-09 12:57] shansfolder commented on #178
@louisryan yep the interval values are valid.

Due to multiple testing problem, to make a [2.5, 97.5] percentile more statistically valid, you will need a stricter alpha. So the method corrects the interval to become [0.83, 99,16]. Thus the interval values you see is actually "more" valid.

The problem is that it is confusing without explanation. We will think about it and update the method signat

[2018-01-12 19:08] shansfolder commented on #178
hello @louisryan, thanks to Darya, now we add a flag ```multi_test_correction``` to both ```sga()``` and ```delta()```, which by default is ```False```. The latest Expan version is v0.6.10.

If you wish to perform the correction, you can set the parameter to be ```true```, and then it will lead to the behaviour you posted in this issue.

Documentation is also updated. We now have a section of what

[2018-01-16 08:50] louisryan commented on #178
Wow, great work! 🙂 I'll be sure to test it out this week

[2018-01-30 12:17] jbao opened #187 "Sample size with an unequal split ratio"
Hi all,

I'm wondering in the sample size formula,

https://github.com/zalando/expan/blob/master/expan/core/statistics.py#L168

whether the number of variants `n` should be replaced by `1+r`? Esp. considering the current formula will give a smaller sample size with an increasing split ratio `r`, ie. an unequal split would require a smaller sample size to reach the same error rate, which is not so

[2018-01-30 15:55] gbordyugov commented on #187
Please discuss and review

https://github.com/zalando/expan/pull/188

[2018-01-30 20:06] #187 closed, assigned to nobody

[2018-02-01 10:06] shansfolder opened #189 "Result Structure Improvement"
Because of multiple testing correction, confidence interval will be broader. Besides, we might need to consider adding p-value into the result.

This is a reminder for us to discuss the result structure of a delta analysis.

[2018-02-01 10:07] gbordyugov commented on #189
https://github.com/zalando/expan/issues/162

[2018-02-01 11:36] daryadedik opened #190 "Improving documentation"
1. Add sample size estimation documentation.
2. Improve multiple correction documentation adding all formulas and assumptions.

feel free to add more

[2018-02-01 12:42] shansfolder commented on #190
3. Pros and Cons of Bayesian testing and the model we use for Bayes factor

[2018-02-06 10:13] daryadedik commented on #189
1. What is the problem with broader confidence intervals?
2. We found out that we don't need to report p-values for correction.

Is this issue about the overall results structure improvement?

[2018-02-06 10:24] daryadedik commented on #178
Can we close this issues?

[2018-02-06 10:25] daryadedik commented on #165
@gbordyugov can I close this issue?

[2018-02-06 13:04] shansfolder commented on #189
Yes this is about result structure improvement.
The two points might not make sense. :) Just a reminder for points to discuss.

[2018-02-06 13:04] shansfolder commented on #178
Implemented.

[2018-02-06 13:04] #178 closed, assigned to shansfolder, daryadedik

[2018-02-06 13:06] shansfolder commented on #189
One idea we've touched is to create the ```Result``` class with mandatory and optional fields that is used to hold results for different types of methods.

[2018-02-06 13:07] #165 closed, assigned to nobody

[2018-02-06 13:46] shansfolder opened #192 "An interesting way to remove variant"
...using pre-experiment data. See this post: https://booking.ai/how-booking-com-increases-the-power-of-online-experiments-with-cuped-995d186fff1d

The underlying method is [[Deng, Xu, Kohavi, & Walker, 2013]](http://www.exp-platform.com/Documents/2013-02-CUPED-ImprovingSensitivityOfControlledExperiments.pdf).

[2018-03-02 14:58] shansfolder opened #200 "Bayesian modeling scheme"
Just a remark for the future work (not part of this pull request):

- for a normal distribution, the returned effect size is already normalized
- for a Poisson distribution, we have to normalize it by hand

Maybe we should stick to one particular scheme and return a non-normalized effect size from the normal model (or the normalized from the Poisson model).

[2018-03-18 19:48] alexisrosuel opened #205 "Tutorial seems to be outdated"
Hi ! Thanks a lot for this awesome project! I tried to install expan with `pip install expan` and go through the tutorial given on readme.md of the github project homepage, but I have two errors:

[code]

and

[code]

Is the last release not consistent? I use python 3.6 on mac os.

Thanks again !

[2018-03-18 20:02] shansfolder commented on #205
Hello @alexisrosuel , thanks for using ExpAn!

The default page of doc is based on **master** branch, which haven't release yet. (our bad, shouldn't merge but not release).
For your questions, you can select the version of expan you installed. e.g. if your expan is v.0.6.13: http://expan.readthedocs.io/en/v0.6.13/

Although there are a lot of changes in the latest one, and we will release it very

[2018-03-18 20:04] alexisrosuel commented on #205
You are so fast ;) Thanks, indeed it works !

[2018-03-19 19:55] alexisrosuel opened #206 "Test differences date by date"
# Context
It is very useful when running ab test to see the evolution of the difference / pvalues / credible interval / etc. through **time**. For instance if I start an experiment on `2018-04-01`, and finish it on `2018-04-30`, I would like to know what was the state (in term of pvalue, etc.) each day. It helps to visualize if the test has "converged" or not.
![airbnb](https://user-images.githubu

[2018-03-21 08:22] gbordyugov commented on #206
Dear Alexis @alexisrosuel,

thanks a lot for the suggestion. What you're talking about here seems to me an instance of the 'early stopping' problem to me and is a subject of the multiple hypothesis testing issues. The more often you look at your p-value, the higher the probability to see spurious significance by chance.

Expan kind of supports early stopping in a highly experimental mode and tries

[2018-03-21 08:47] alexisrosuel commented on #206
Hi Grisha,

In fact the idea behind this chart (and the whole airbnb medium article) is the opposite. They wanted to point out that the pvalue can fluctuate through time, go below the signifiance threshold, and then stay there forever or not.

The chart show this : if you stop the experiment represented here around day 10, you commit type 1 error. But I you let the experiment run for a few more da

[2018-03-21 08:56] gbordyugov commented on #206
Please pardon my poor expression: What I meant in my first reply is exactly what you're talking about

Our early stopping logic counteracts the effects like this by reducing the alpha-threshold at the beginning of experiment (where you've got less data), so it's not 0.05, but much larger for small quantities of data in the first days.

[2018-03-21 10:01] alexisrosuel commented on #206
Oh indeed I see your point now too :)

Yes, expan use some kind of "dynamic pvalue threshold", so we could draft this value day by day, along with the observed pvalue?

[2018-03-21 10:57] shansfolder commented on #206
Yes the "dynamic threshold" is based on information fraction, which is ratio of current sample size and estimated sample size for the experiment.

Here is the method we use: https://github.com/zalando/expan/blob/master/expan/core/early_stopping.py#L24-L36

[2018-03-21 10:59] shansfolder commented on #206
Whether it is day-by-day analysis or other periods, will depends on how your code calls ExpAn.

[2018-03-27 09:22] shansfolder commented on #205
@alexisrosuel We have released the newest v1.0.0. Try it out if you want to. (and docs are thus up to date now) ;)

[2018-03-27 09:22] #205 closed, assigned to shansfolder

[2018-07-24 13:16] aaron-mcdaid-zalando opened #232 "tox fails with py36. (succeeds with py27 though)"
` 6 failed, 110 passed in 72.82 seconds `

Here is one of those six failed tests:

[code]

[2018-07-24 15:38] shansfolder commented on #232
@aaron-mcdaid-zalando works for me.

It could be tox cached an old version of pystan for you. Try delete .tox directory and run again. :)

[2018-12-03 17:43] igusher opened #243 "Why features are iterated in a for loop?"
https://github.com/zalando/expan/blob/master/expan/core/experiment.py#L87

I didn't quite get this `for` loop. As far as I understand only last feature filter will be applied and all other are ignored? Do I get it right?

[2018-12-03 18:03] shansfolder commented on #243
@igusher It was designed to support multiple feature at the same time. e.g. female chrome user.
So all features defined in the instance of StatisticalTest will be applied.

In Octopus, we only initialize each StatisticalTest with only one feature,

[2018-12-03 18:30] igusher commented on #243
I see, thanks

[2018-12-03 18:30] #243 closed, assigned to nobody

[2018-12-27 13:03] marcosmarxm opened #244 "why use stan instead of pymc3?"
Hi folks! Great lib btw.

Is there any specific point for using stan? I think that pymc3 can perform the same calculations.
And already have some implementations for Bayesian tests. (https://docs.pymc.io/notebooks/BEST.html)

Thanks!

[2018-12-27 13:18] shansfolder commented on #244
hi @marcosmarxm, thanks for reaching out!
No, there is no specific point of using `stan`. :)

We started with it three years ago. Back then our developer was most familiar with `stan`. And then, `pymc3` and `edward` become more popular in the Bayesian community. We are not using the Bayesian functionality internally at the moment, so we haven't put into agenda to improve the implementation.

[2019-01-07 09:23] gbordyugov commented on #244
Hi @marcosmarxm,

Somewhere in 2017, I performed some comparative test runs of stan vs pymc3, my main findings were:
1) stan seems to be a bit faster, up to 2x (which is a deal, but not a huge deal, I think)
2) pymc is a bit friendlier from the interface viewpoint - you can specify the model in Python instead of writing model files in stan's internal language. Since we don't use a lot of different

[2019-01-22 14:26] CHI-MING-LEE commented on #143
Hi,
I found a solution that worked for me:
1. Download the .tar.gz file from PyPI
2. Download 7z unzip tools
3. Open tar.gz file with 7z tool and edit the line `open("ReadMe.rst")` before `readme = readme_file.read()`  as `open("ReadMe.rst", encoding="UTF-8")`
4. Save the change
5. Go into dos and execute `pip install xxx.tar.gz` <- the file you just modified

Hopefully you get your problem solved

[2019-01-23 12:20] shansfolder commented on #143
@CHI-MING-LEE thank you!